<!DOCTYPE html>
<a href="/logout">Logout</a>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>
<head>
    <title>Task Manager</title>
</head>
<body>
    <h1>Task Manager</h1>

    <form method="POST">
        <input type="text" name="content" placeholder="Enter a task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        {% for task in tasks %}
            <li>
                {% if task[2] == 1 %}
                    <s>{{ task[1] }}</s>
                {% else %}
                    {{ task[1] }}
                {% endif %}
    
                <div>
                    <a href="/complete/{{ task[0] }}">✔</a>
                    <a href="/edit/{{ task[0] }}">✏️</a>
                    <a href="/delete/{{ task[0] }}">❌</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>